/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/*-----------------
    Top Container
-------------------*/
.top-container {
    display: flex;
    justify-content: center;
}

.banner-container {
    background-color: black;
    border-radius: 40px;
    width: 70%;

}

.banner {
    display: flex;
}

.banner-info {
    margin-left: 20px;
    padding: 20px;
    color: white;
    width: 50%;
}

.banner-info h1 {
    font-size: 50px;
}

.banner-info p {
    font-size: 20px;
}

.banner-info button {
    width: 150px;
    border: 0px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 5px;
    background-color: #DD0000;
}

.banner-img {
    display: flex;
    width: 50%;
}

.banner img {
    width: 100%;
}

/* <!---------------- */
/* Mid Section  */
/* ------------------> */
.mid-container {
    margin-top: 150px;
}

/* Menu part */

.menu-container {
    background-color: #161616;
    width: 300px;
    height: 250px;
    margin-right: 15px;
    border-radius: 15px;
}

.menu-container ul {
    /* margin: 0; */
    padding: 20px;
}

.menu-container li {
    text-align: center;
    list-style: none;
    font-weight: bold;
    background-color: #FFFFFF;
    padding: 5px;
    margin: 15px;
    color: #161616;
    text-decoration: none;
    border-radius: 5px;
}
#blog{
    background-color: #DD0000;
    color:#FFFFFF;
    border: none;
}

.blogs-container {
    display: flex;
    justify-content: space-between;
}

.blogs {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}



/* ------------------------
        Media Queries
--------------------------- */
/* Media Queries for Mobile Devices */

@media only screen and (max-width: 640px) {
    .banner {
        display: flex;
        flex-direction: column;
    }

    .banner-info {
        margin-left: 20px;
        margin-right: 20px;
        color: white;
        width: 80%;
    }

    .banner-img {
        padding: 0px 20px;
        display: flex;
        width: 90%;
    }

    /* Mid Section */
    .blogs-container {
        display: flex;
        flex-direction: column;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (min-width: 641px) and (max-width: 768px) {

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* Mid Section */
    .blogs-container {
        display: flex;
        flex-direction: column;
    }

    .menu-container {
        width: 100%;
        background-color: #FFFFFF;
        height: 100%;
        border-radius: 15px;
    }

    .menu-container ul {
        display: flex;
        justify-content: space-between;
    }

    .menu-container li {
        padding: 5px 30px;
        border: #E8E8E8 solid 2px;
        border-radius: 5px;
    }
}