/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* Common style */
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
/* Page-Header */
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.top-header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
nav > ul{
    list-style: none;
}
.menu-items{
    display: flex;
}
.menu-item{
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

/* Top page Heading */
.header-heading{
    font-size: 24px;
}

/* For the top */
.link-button{
    text-decoration: none;
    color: white;
    background-color: salmon;
    padding: 15px;
    border-radius: 50px;
}
.top-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.top-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.top-content-heading{
    font-size: 52px;
}
.top-content-info{
    padding: 25px;
    width: 70%;
}
.top-image{
    width: 440px;
    height: 415px;
    background-image: url(images/Circle-design.svg);
    Width: 475px;
    Height:475px;
    transition: transform 0.5s;
}
.top-image:hover{
    transform: scale(1.2);
}

/* for logo */
.logo-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.logos{
    border-bottom: 2px solid lightgray;
}
.logos img{
    margin-left: 25px;
}


/* For Collection page */
.collection-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}
.Collection-heading{
    text-align: center;
    font-size: 28px;
}
.collections{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
.collection{
    border-radius: 10px;
    box-shadow: 5px 5px 20px gray;
    width: 329px;
    height: 600px;
}
.collection img{
    width: 300px;
    height: 256px;
    margin: 15px;
}
.collection-ditels{
    padding: 20px;
}
.item-rating{
    color: orange;
}

/* For Featured products */
.products-container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.products-heading{
    text-align: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.product{
    margin: 25px;
}
.product img{
    width: 300px;
    height: 280px;
}

/* For footer content */
footer{
    margin-top: 100px;
    background-color: navy;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100% ;
}
.footer-heading{
    font-size: 24px;
}
footer a{
    text-decoration: none;
}
.icons{
    display: flex;
    justify-content: center;
}
.icon{
    font-size: 30px;
    color: white;
    padding: 10px;
}




/* ------------------------
        Media Queries
--------------------------- */
/* Media Queries for Mobile Devices */

@media only screen and (max-width:689px){
    
    /* Page-Header */
    .top-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .top-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .collections{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        width: 100%;
        align-items: center;
    }
    .products{
        display: flex;
        flex-direction: column;
    }
    footer{
        width: 100%;
    }
}

/* ------------------------
        Media Queries
--------------------------- */
/* Media Queries for Tablet Devices */

@media only screen and (min-width: 689px) and (max-width: 921px) {
    .top-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .top-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .collections{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        width: 100%;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        width: 100%;
    }
}