/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/*-----------------
    Top Container
-------------------*/
.top-container {
    display: flex;
    justify-content: center;
}

.banner-container {
    background-color: black;
    border-radius: 40px;
    width: 70%;

}

.banner {
    display: flex;
}

.banner-info {
    margin-left: 20px;
    padding: 20px;
    color: white;
    width: 50%;
}

.banner-info h1 {
    font-size: 50px;
}

.banner-info p {
    font-size: 20px;
}

.banner-info button,
.view-btn button {
    width: 150px;
    border: 0px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 5px;
    background-color: blue;
    transition: 1s;
}
.banner-btn:hover{
    transform: scale(1.15);
}

.banner-img {
    display: flex;
    width: 50%;
}

.banner img {
    width: 100%;
}

/* <!---------------- */
/* Mid Section  */
/* ------------------> */
.mid-container {
    margin-top: 150px;
    width: 100%;
}

/* Menu part */

.menu-container {
    background-color: #161616;
    width: 500px;
    height: 250px;
    margin-right: 15px;
    border-radius: 15px;
}

.menu-container ul {
    padding: 20px;
}

.menu-container li {
    text-align: center;
    list-style: none;
    font-weight: bold;
    background-color: #FFFFFF;
    padding: 5px;
    margin: 15px;
    color: #161616;
    text-decoration: none;
    border-radius: 10px;
}

ul a {
    text-decoration: none;
}

#blog {
    background-color: rgb(28, 28, 255);
    color: #FFFFFF;
    border: none;
}

#upcoming li {
    color: #FFFFFF;
    background-color: blue;
}

/*--------------------------------------
--------- Blogs Part & Matches ------
---------------------------------------- */

.blogs-container,
.matches-container {
    display: flex;
    justify-content: space-between;
}

.blogs,
.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    flex-grow: 1;
}

.match {
    padding: 15px;
    border: #B9B9B9 solid 2px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px 5px lightgray;
}

.blog {
    border-radius: 20px;
    box-shadow: 2px 2px 20px 5px lightgray;
}

.blog-img {
    width: 100%;
}

.blog-img img {
    width: 100%;
}

.blog-info {
    padding: 15px;
}

.blogs-btn {
    background-color: #FFFFFF;
    padding: 10px 20px;
    color: #161616;
    font-size: 15px;
    border: #161616 solid 1px;
    border-radius: 5px;
}

.view-btn {
    display: none;
}


/**************************
  for the upcomming match 
***************************/

#all-matches {
    flex-grow: 1;
}

.match img,
h1 {
    padding: 5px;
}

.match-info h3 {
    text-align: center;
    color: #4D4D4D;
}

.flags {
    display: flex;
    align-items: center;
    justify-content: center;
}

.country-names {
    display: flex;
    justify-content: center;
}

/*********************
    Footer section 
 *********************/

footer {
    margin-top: 150px;
    background-color: #161616;
}

hr {
    width: 90%;
}

.footer-header h1 {
    padding-top: 50px;
    color: #FFFFFF;
    font-size: 50px;
    text-align: center;
}

.all-links {
    display: flex;
    justify-content: center;
}

.links {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;

}

.links a {
    margin-left: 50px;
    text-decoration: none;
    color: #B9B9B9;
}

.social-media-links {
    margin-top: 50px;
    text-align: center;
}

.social-media-links a {
    margin: 5px 20px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 50px;
}





/* ------------------------
       Media Queries
--------------------------- */
/* Media Queries for Mobile Devices */

@media only screen and (max-width: 640px) {
    .banner {
        display: flex;
        flex-direction: column;
    }

    .banner-info {
        color: white;
        width: 80%;
    }

    .banner-info h1 {
        font-size: 30px;
    }

    .banner-info p {
        font-size: 10px;
    }

    .banner-img {
        padding: 0px 20px;
        display: flex;
        width: 90%;
    }

    /* Mid Section */

    .blogs-container,
    .matches-container {
        display: flex;
        flex-direction: column;
    }

    .blogs,
    .matches {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* Menu part */

    .menu-container {
        background-color: #FFFFFF;
        width: 100%;
        height: 100%;
    }

    .menu-container li {
        border: #E8E8E8 solid 2px;
    }

    footer {
        width: 100%;
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-items: end;
    }

    .links a {
        margin: 20px;
        font-size: 20px;
    }

    .social-media-links {
        display: flex;
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 641px) and (max-width: 768px) {

    .blogs,
    .matches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* Mid Section */
    .blogs-container,
    .matches-container {
        display: flex;
        flex-direction: column;
    }

    .menu-container {
        width: 100%;
        background-color: #FFFFFF;
        height: 100%;
        border-radius: 15px;
    }

    .menu-container ul {
        display: flex;
        justify-content: space-between;
    }

    .menu-container li {
        padding: 5px 30px;
        border: #E8E8E8 solid 2px;
        border-radius: 5px;
    }

    .view-btn {
        margin: 80px auto;
        display: block;
    }
}